{% extends 'reviews/base.html' %}{% block content %}
<article>
  <h2>제목 : {{ review.title }}</h2>
  <p>{{review.openyear}}</p>
  <p>장르: {{review.genre}}</p>
  <p>감독: {{ review.director }}</p>
  <p>주연배우: {{review.actor}}</p>
  <p>별점: {{review.starpoint}}</p>
  <p>러닝타임: {{review.runningtime}}</p>

  <div>{{review.review}}</div>
</article>

<div style="display: flex; margin: 4rem; align-items: center">
  <div style="margin-right: 3rem">
    수정 : <a href="{% url 'reviews:update' review.id %} ">수정</a>
  </div>
  <form action="{% url 'reviews:delete' review.id %} " method="post">
    {% csrf_token %}
    <button>삭제</button>
  </form>
</div>

<div><a href="/">my Movie reviews</a></div>
{% endblock %}
