{% extends 'reviews/base.html' %}{% block content %}
<form action="/update/{{review.id}}/" method="post">
  {% csrf_token %}
  <h2>
    <input
      type="text"
      name="title"
      placeholder="제목"
      value="{{review.title}}"
    />
  </h2>
  <p>
    <input
      type="text"
      name="openyear"
      placeholder="개봉 년도"
      value="{{review.title}}"
    />
    <select name="genre">
      {% for key, value in review.genrecategory %} {% if review.genre == key %}
      <option value="{{key}}" selected>{{value}}</option>
      {% else %}보
      <option value="{{key}}">{{value}}</option>
      {% endif %} {% endfor %}
    </select>
    <input
      type="number"
      name="starpoint"
      placeholder="별점"
      value="{{review.starpoint}}"
    />
    <input
      type="text"
      name="director"
      placeholder="감독"
      value="{{review.director}}"
    />
    <input
      type="text"
      name="actor"
      placeholder="주연 배우"
      value="{{review.actor}}"
    />
    <input
      type="number"
      name="runningtime"
      placeholder="러닝타임"
      value="{{review.runningtime}}"
    />
  </p>
  <textarea name="review" id="" cols="30" rows="10">{{review.review}}</textarea>

  <div>
    <input type="submit" value="저장" />
  </div>
</form>
<a href="/">Home</a>
{% endblock %}
